.table-wrapper {
   margin-top: 40px;
}

.title {
  text-align: center;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
}

.first-column {
  width: 60px;
}

tr {
  height: 25px;
  border: 1px solid;
  min-width: 40px;
}

th {
  border: 1px solid;
  font-size: 10px;
  min-width: 40px;
}

td {
  border: 1px solid;
  font-size: 8px;
  text-align: center;
  min-width: 40px;
}

.jersey-num {
  font-size: 6px;
  color: #555555;
}
