.list-wrapper {
  width: 100%;
}

.header-row {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 12px 106px 30px 30px 30px 90px 25px;
  gap: 6px;
  border-bottom: 1px solid black;
}

.column-title {
  font-size: 8px;
  text-align: center;
}
.column-title-left {
  font-size: 8px;
}

.player-number {
  font-size: 10px;
}

.player-name {
  font-size: 11px;
}

.player-list-row {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 12px 106px 30px 30px 30px 90px 25px;
  gap: 6px;
  font-size: 12px;
  height: 30px;
}

.column-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-wrapper-name {
  width: 100%;
  display: flex;
  align-items: center;
}

.checkbox-wrapper {
  text-align: center;
}

.select-wrapper {
  text-align: center;
}

.position-select {
  width: 100px;
}

.remove-button {
  background-color: red;
  color: white;
  border-radius: 100%;
  border: none;
  font-weight: bold;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  position: relative;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.positions-wrapper {
  justify-content: flex-start !important;
  gap: 3px;
}

.positionButton {
  all: unset;
  font-weight: bold;
}

.eligiblePosition {
  color: green;
}

.ineligiblePosition {
  color: red;
}
