.tech-icon {
    height:32px;
    width:32px;
    margin: 5px 10px;
}

.custom-card {
    padding-bottom: 144px;
}

.footer-wrapper {
    position: absolute;
    vertical-align: center;
    bottom:0;
    width:100%;
}


.double-paragraph {
    display: none;
}
.single-paragraph {
    display: block;
}



.ciena-icons {
    padding-top: 8px;
}

.boogie-icons {
    padding-top: 8px;
}

.icons3 {
    padding-top:8px;
}

@media screen and (min-width: 640px){
    .ciena-icons {
        padding-top: 32px;
    }
}

@media screen and (max-width: 640px){
    .single-paragraph {
        display: none;
    }
    .double-paragraph {
        display: block;
    }


}

@media screen and (min-width: 1376px){
    .boogie-icons {
        padding-top: 32px;
    }
}
