.tech-icon {
    height:32px;
    width:32px;
    margin: 5px 10px;
}

.custom-card {
    padding-bottom: 144px;
}

.footer-wrapper {
    position: absolute;
    vertical-align: center;
    bottom:0;
    width:100%;
}

.ciena-icons {
    padding-top: 8px;
}

.boogie-icons {
    padding-top: 8px;
}

.icons3 {
    padding-top:8px;
}

@media screen and (min-width: 960px){
    .ciena-icons {
        padding-top: 32px;
    }
}

@media screen and (min-width: 1600px){
    .boogie-icons {
        padding-top: 32px;
    }
}
