.icons-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 5px;
}

.tech-icon {
  height: 32px;
  width: 32px;
  margin: 5px 10px;
}

.project-tile-wrapper {
  padding-bottom: 144px;
  border-radius: 8px;
}
.project-tile-image-wrapper {
  border-radius: 8px 8px 0 0;
}
.project-tile-image {
  border-radius: 8px 8px 0 0;
}

.footer-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 8px 8px;
}
