.about-card-wrapper {
  border-radius: 8px;
}

.about-card {
  border-radius: 8px !important;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.about-card:hover .uk-overlay-default {
  background-color: rgba(255, 255, 255, 0.85);
  transition: background-color 0.5s ease-in-out;
}

.about-card:hover .uk-overlay-primary {
  background-color: rgba(34, 34, 34, 0.85);
  transition: background-color 0.5s ease-in-out;
}

.img-wrapper {
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-img {
  border-radius: 8px;
}

.small-img {
  margin: 20px;
}

.overlay-plate {
  border-radius: 0 0 8px 8px;
}
