.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.content {
  width: 100%;
  max-width: 1200px;
}

html,
body {
  height: 100%;
  position: relative;
}
